.found {
  height: calc(100% - 60px);
  padding-bottom: 100px;
}

.found_title {
  text-align: center;
  color: #6b6d05;
}

.found_info {
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #6b6d05;
}

.found_info > img {
  text-align: center;
  border: 0;
  border-radius: 10%;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}
